body {
    font-family: Arial, sans-serif;
    background-color: #0d987f;
    text-align: center;
}

h1 {
    color: #c60a0a;
}
img {
  width: 100px; 
  height: 100;
  border-radius: 20px; 
  box-shadow: 0 4px 8px rgba(49, 0, 134, 0.3);
  margin-top: 20px;
}
